body{
  background-color: beige;
}


.buttonStyle{
  font-size: 16px;
}

.h1Tag{
  font-size: 30px;
}

.h2Tag{
  font-size: 20px;
  font-weight: 500;
}

.goalStyle{
  font-size: 20px;
  font-weight: bolder;
  color: green;
}

.goalStyle2{
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.targetStyling{
  font-size: 18px;
  color: blue;
}

.goalTags{
  font-size: 16px;
  color: red;
}
